@keyframes dropin {
  from {
    top: -100%;
  }

  to {
  }
}

@keyframes noclick {
  from {
    top: -100%;
    left: -100%;
  }
  to {
    top: 0;
    left: 0;
  }
}
@keyframes feedbackAnimIn {
  0% {
    top: -50%;
  }

  20% {
    top: 50%;
  }
  100% {
    top: 50%;
  }
}

@keyframes feedbackAnimOut {
  0% {
    top: 50%;
  }

  80% {
    top: 50%;
  }
  100% {
    top: 100%;
  }
}

.hidden {
  display: none;
}

html {
  font-family: Garamond, serif;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Garamond, serif;
  }
  body {
    margin: 0;
    padding: 0;
    #quiz {
      background: rgb(237, 255, 116);
      background: linear-gradient(
        90deg,
        rgba(237, 255, 116, 1) 50%,
        rgba(255, 184, 228, 1) 50%
      );
      overflow: hidden;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      min-width: 200px;
      min-height: 400px;
      #feedback {
        width: 100%;
        height: 100%;
        position: absolute;
        top: -100%;
        left: -100%;

        & > span {
          background: black;
          color: white;
          font-weight: bold;
          filter: drop-shadow(4px 4px 0 rgba(0, 0, 0, 0.2));
          position: absolute;
          padding: 1em;
          left: 50%;
          transform: translate(-50%, -50%);
          transform-origin: center;
        }
        &.anim {
          animation-duration: 0s;
          animation-fill-mode: forwards;
          animation-name: noclick;
          & > span {
            animation-duration: 1s;
            animation-name: feedbackAnimIn;
            animation-fill-mode: forwards;
          }
        }
        &.animout {
          & > span {
            animation-duration: 1s;
            animation-name: feedbackAnimOut;
          }
        }
      }
      #start,
      #end,
      #questions {
        padding: 3vw;
        .detail {
          background: rgba(255, 255, 255, 0.723);
          padding: 0.2em;
          text-align: center;
          border-radius: 15px;
          backdrop-filter: blur(5px);
          border: 1px solid rgba(224, 23, 23, 0.392);
        }
        .circle,
        fieldset legend {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          font-size: 1.7em;
          font-weight: bold;
          text-align: center;
          background: white;
          width: 25vw;
          height: 25vw;
          min-width: 100px;
          min-height: 100px;
          max-width: 200px;
          max-height: 200px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 1em;
          span {
            pointer-events: none;
            left: 0;
            top: 0;
            background: white;
            width: 100%;
            height: 100%;
            position: absolute;
            border-radius: 50%;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1em;
          }
          &:after {
            content: " ";
            -webkit-backdrop-filter: brightness(90%) saturate(200%);
            backdrop-filter: brightness(90%) saturate(200%);
            width: 105%;
            height: 105%;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
          }
        }
        legend {
          z-index: 4;
          cursor: move;
          cursor: grab;
          &.moving {
            cursor: grabbing;
          }
        }
      }
      #start,
      #end {
        #startBtn,
        #retryBtn {
          background: rgba(255, 255, 255, 0.719);
          //   border: 2px solid black;
          backdrop-filter: blur(5px);
          border: 1px solid rgba(224, 23, 23, 0.392);
          color: rgb(3, 3, 3);
          border-radius: 0.2em;
          padding: 0.5em 1em;
          font-family: Garamond, serif;
          font-size: 1.2em;
          transition: all 0.3s;
          font-weight: bold;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: 3vw;

          &:focus,
          &:hover {
            cursor: pointer;
            color: black;
            background: white;
          }
        }
      }
      #questions {
        &.dropin {
          fieldset legend {
            animation-duration: 0.25s;
            animation-name: dropin;
            animation-fill-mode: forwards;
          }
        }
        &.animCircRight {
          fieldset legend {
            left: 150% !important;
            transform: translate(-50%, -50%) rotate(150deg);
            transition: transform 0.9s, left 0.9s;
          }
        }
        &.animCircLeft {
          fieldset legend {
            left: -50% !important;
            transform: translate(-50%, -50%) rotate(-150deg);
            transition: transform 1s, left 1s;
          }
        }
        .slide {
          width: 100%;
          height: 100%;
          box-sizing: border-box;
          top: 0;
          left: 0;
          position: absolute;
          fieldset {
            border: none;
            button {
              color: black;
              font-size: 1.5em;
              top: 50%;
              transform: translateY(-50%);
              padding: 3vw;
              font-weight: bold;
              background: transparent;
              border: none;
              &:hover,
              &:focus {
                text-decoration: underline;
                cursor: pointer;
              }
              &:nth-of-type(1) {
                position: absolute;
                left: 0;
              }
              &:nth-of-type(2) {
                position: absolute;
                right: 0;
              }
            }
          }
        }
      }

      @media (max-width: 500px) {
        #start,
        #end,
        #questions {
          padding: 3vw;
          .detail {
            background: white;
            padding: 0.2em;
            text-align: center;
          }
          .circle,
          fieldset legend {
            top: 0.5em;
            transform: translate(-50%, 0);
          }
          &.animCircRight {
            fieldset legend {
              transform: translate(-50%, 0%) rotate(150deg);
            }
          }
          &.animCircLeft {
            fieldset legend {
              transform: translate(-50%, 0%) rotate(-150deg);
            }
          }
        }
        #start,
        #end {
          .detail {
            position: absolute;
            bottom: 5em;
            width: 80%;
            left: 50%;
            transform: translateX(-50%);
          }
        }
        #questions {
          &.anim {
            animation-duration: 0s;
            animation-fill-mode: forwards;
            animation-name: noclick;
          }
          &.animout {
          }
          .slide {
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            top: 0;
            left: 0;
            position: absolute;
            fieldset {
              border: none;
              button {
                font-size: 1em;
                width: 50%;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}
